{%  extends '::base.html.twig' %}
{% block title %} {% trans from "error_page" %}page_title{% endtrans %} {% endblock title %}
{% block content %}
    	<div class="mobile_reg align_center">
			{% trans with {'%status_code%': status_code, '%status_text%': status_text} from "error_page" %}page_body{% endtrans %}
		</div>
{% endblock content %}
