{% extends '::dashboard.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/framework/css/exception.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block content %}
   <div class="site_container">
{#       {% include '::header.html.twig'%}#}
      <div class="panel">
            <div class="panel_left">
            </div>
            <div class="panel_right sf-reset">
              {% include 'TwigBundle:Exception:exception.html.twig' %}
            </div>
      </div>
   </div>
{#    {% include '::footer.html.twig' %}#}
{% endblock %}
