{% extends '::dashboard.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/framework/css/exception.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block content %}
    <div class="site_container">
        {% include 'TwigBundle:Exception:exception.html.twig' %}
    </div>
    <style>
        .site_container {
            overflow-x: scroll;
            padding: 20px 50px;
            background: #fff;
        }
    </style>
{% endblock %}
