{% extends "CyclogramKnowatHomeBundle:Default:index.html.twig" %}

{% block title %}
    {{ pageText.title }}
{% endblock %}

{% block stylesheetsCustom %}
    <link rel="stylesheet" href="/bundles/cyclogramknowathome/css/knowathomeTextPage.css" type="text/css"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block body %}
    <div id="wrapper" class="container">

        <div class="logo" style="margin-bottom: 15px;">
            <a href="{{ path("CyclogramKnowatHomeBundle_homepage") }}"><img src="/bundles/cyclogramknowathome/images/website/logo-red.png" border="0" /></a>
        </div>

        <br />

        <h2>Privacy & Security</h2>

        <p>

        {{ pageText.privacy|raw }}

        </p>

        <div class="columns six">
            <ul class="mainNavButtons">
                <li><a class="NavButton" href="{{ path("CyclogramKnowatHomeBundle_disclaimer") }}">ARE YOU ELIGIBLE?</a></li>
            </ul>
            <br /><br /><br /><br />
        </div>

        <!--<br /><br /><br /><br />-->

    </div>
{% endblock %}