{% extends '::base.html.twig' %}

{% block body %}
<body class="page_main" {% if studyCode is defined and studyCode == 'knowathome' %}style="background: none; background-color: #878681 !important;"{% endif %}>
    {% block content %}
    {% endblock content %}
</body>
{% endblock body %}