{% extends '::base.html.twig' %}
{% block title %}
	ProofPilot Dashboard
{% endblock title %}
{% block body %}
<body class="page_main branding_{{ branding }}">
{% block scripts_facebook %}{% endblock scripts_facebook %}
    {% block content %}
    {% endblock content %}
</body>
{% endblock body %}