{% extends '::base.html.twig' %}

{% block body %}
<body class="page_main" {% if studyId is defined and studyId == 1 %}style="background: none; background-color: #878681 !important;"{% endif %}>
    {% block content %}
    {% endblock content %}
</body>
{% endblock body %}