<footer>
  <div class="row_1">
      <div class="site_container">
        <div class="footer_col_left">
            {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createTopLeftMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_menu.html.twig'}) }}
        </div>
        <div class="footer_col_right">
    	    {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createBottomStudyRightMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_menu.html.twig'}) }}
    	</div>
        <div class="footer_col_middle">
            <ul>
                <li>
                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fproofpilot&amp;width=100&amp;locale=en_US&amp;layout=box_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:70px;" allowTransparency="true"></iframe>
                </li>
                <li>
                    <a class="tw" href="https://twitter.com/intent/follow?screen_name=proofpilot"><span>{% trans from "study" %}txt_like_proofpilot{% endtrans %}<br>{% trans from "study" %}txt_on_twitter{% endtrans %}</span></a>
                </li>
                <li>
{#                 <a href="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/proofpilot&width&layout=standard&action=like&show_faces=false&share=false&height=35"> Facebook </a><li>#}
            </ul>
        </div>
        {% if branding == 'default' %}<span class="footer_cyclogram">(c) Cyclogram 2011-{{ "now"|date("Y") }}, California USA</span>{% endif %}
      </div>
  </div>
  <div class="row_2">
    <div class="site_container">
        <p>© 2011-{{"now"|date('Y')}} ProofPilot<sup>TM</sup> - All rights reserved</p>
    </div>
  </div>
</footer>