{% extends '::base.html.twig' %}

{% block body %}
  <body class="page_study">
   {% block scripts_facebook %}{% endblock scripts_facebook %}
    <div class="site_container">
      {% block header %}{% endblock header %}
      {% block content %}{% endblock content %}
    </div>
    {% block footer %}
      {% include '::footer.html.twig' %}
    {% endblock footer %}
    {% block scripts_google %}{% endblock scripts_google %}
  </body>
{% endblock body %}