<header>
  <a class="site_logo" href="#">ProofPilot</a>
  <ul class="header_menu">
    <li>
      <a class="icon_help" href="#">
        <span>Help</span>
      </a>
    </li>
    <li>
      <a class="icon_logout" href="#">
        <span></span>
      </a>
      <br>
    </li>
  </ul>
</header>
  <div class="mobile_header_menu">
    <ul>
      <li><a href="#" class="trigger_left_menu"></a></li>
      <li class="logo"><a href="#" class="site_logo">ProofPilot</a></li>
      <li class="right"><a href="#" class="trigger_sitemenu"></a></li>
    </ul>
  </div>
  <div class="mobile_sitemenu">
    <div class="menu_wrapper">
      <a href="#" class="close"></a> <a href="#" class="logo">ProofPilot</a>
      <ul>
        <li><a class="icon_settings" href="#"><span>My Settings</span></a></li>
        <li><a class="icon_logout" href="#"><span>Logout</span></a></li>
        <li><a class="icon_help" href="#"><span>Help</span></a></li>
      </ul>
    </div>
  </div>