<header>
  <a class="site_logo" href="#">ProofPilot</a>
  <ul class="header_menu">
    <li>
      <a class="register_link" href="#">Register Here</a>
      <span class="text">or</span>
    </li>
    <li>
      <a class="login" href="#">
        <span>Login</span>
      </a>
    </li>
  </ul>
</header>