<header>
  <a class="site_logo" href="#">ProofPilot</a>
  <ul class="header_menu">
    <li>
      <a class="icon_help" href="#">
        <span>Help</span>
      </a>
    </li>
    <li>
      <a class="icon_logout" href="#">
        <span></span>
      </a>
      <br>
    </li>
  </ul>
</header>