<div class="reg_header">
    {% if is_granted('ROLE_PARTICIPANT') and studyCode is not defined %}
    	<a href="{{ path('_main') }}" class="logo">ProofPilot</a>
    {% else  %}
        {{ study_logo(studyCode)|raw}}
    {%  endif %}
</div>