{% if app.user %}
    <div class="profile_info alt_bg">
    	<div class="wrapper">
    		{% if user.avatar is defined %}
                    <a href="#" class="avatar"><img src="{{ user.avatar }}" width="80" height="82" alt="" title=""/></a>
            {% endif %}
    		<ul class="user_info">
    			<li>
    			    {% if user.name is defined %}
        			    <a href="#">{{ user.name }}</a>
    			    {% endif %}
    			</li>
    			<li>
    				<p>{% trans from "general_settings" %}last_access{% endtrans %}<br />
    				<span>{{ lastaccess|format_datetime('dd MMMM yyyy, HH:mm') }}</span></p>
    			</li>
    		</ul>
    	</div>
    </div>
{% endif %}