<footer>
  <div class="row_1">
      <div class="site_container">
        <div class="footer_col_left">
            {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createTopLeftMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_menu.html.twig'}) }}
        </div>
        <div class="footer_col_right">
    	    {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createBottomStudyRightMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_menu.html.twig'}) }}
    	</div>
        <div class="footer_col_middle">
            <ul>
                <li>
                    <a class="fb" href="#"><span>{% trans from "study" %}txt_like_proofpilot{% endtrans %}<br>{% trans from "study" %}txt_on_facebook{% endtrans %}</span></a>
                </li>
                <li>
                    <a class="tw" href="#"><span>{% trans from "study" %}txt_like_proofpilot{% endtrans %}<br>{% trans from "study" %}txt_on_twitter{% endtrans %}</span></a>
                </li>
            </ul>
        </div>
        {% if branding == 'default' %}<span class="footer_cyclogram">(c) Cyclogram 2011-2013, California USA</span>{% endif %}
      </div>
  </div>
  <div class="row_2">
    <div class="site_container">
        <p>© 2011-2013 ProofPilot<sup>TM</sup> - All rights reserved</p>
    </div>
  </div>
</footer>