parameters:
    site_name: "ProofPilot"
    site_url: http://frontend-bogdand.proofpilot.dyndns.org
    admin_project_path: /proofpilot
    admin_project_url:  'http://admin.dev1.proofpilot.net'
    base_path: ""
    upload_path: "trim(`pwd`) . '/' . md5('attachments')"
    database_driver: pdo_mysql
    database_host: db
    database_port: null
    database_name: proofpilot
    database_user: root
    database_password: null
    lime_database_host: db
    lime_database_port: null
    lime_database_name: limesurvey
    lime_database_user: root
    lime_database_password: null
    mailer_transport: smtp
    mailer_host: smtp.proofpilot.com
    mailer_user: proofpilot
    mailer_password: da2UmugE
    mailer_encryption: ssl
    mailer_from: crew@proofpilot.com
    locale: en
    locales: [en, es, pt, fr]
    secret: 10da697491608e381e7f81207a304c43f
    database_path: null
    url_survey: "http://limesurvey.dev1.proofpilot.net"
    url_analytics: "http://analytics.dev1.proofpilot.net"
    url_chartio: "https://chartio.com"
    url_survey_kah: 'http://limesurvey.dev1.proofpilot.net/index.php/349799/lang-en'
    encryption_key: "wKLH=qIk2A2&pEB"
#	Facebook secret is from my riv.a.ntsiv@gmail.com
    facebook.secret: 61577113f011589a7d217cc7972798a4
    facebook.appid: '584886061542799'
    google.client_id: 796264001693-svobjvmkur2ddpbnjquvjk1lf1ldqsk2.apps.googleusercontent.com
    google.client_secret: wQdG-6xfkhwFjW1VG0EIQPeV
    
    study_upload_path: %admin_project_path%/web/2cd1c6ecec2c6d908b3ed66d4ea7b902
    study_image_url: %admin_project_url%/2cd1c6ecec2c6d908b3ed66d4ea7b902

    url_assets: '//cdn.proofpilot.com/admin'
    assets_version: '0'
    google_analytics_account: 'UA-39509758-2'
