<div class="mobile_reg login_form">
    <div class="wrapper">
        <div class="popup_text join">
            <a href="#" class="close"></a>
                <h2>{% trans from "register" %}consent_what_to_know{% endtrans %}</h2>
                <div class="for_mobile_center">
                    <a href="{{ path('_consent', {'studyCode': studyCode, 'surveyId': surveyId}) }}" class="btn"><span>{% trans from "register" %}consent_accept_join{% endtrans %}</span></a>
                </div>
                <div class="list_box">
                    {{ studycontent.studyConsent|raw }}
                </div>
                <h3>{% trans from "register" %}consent_good_to_go{% endtrans %}</h3>
                <p>{% trans from "register" %}consent_any_information{% endtrans %} <a href="{{ path('_secure') }}" target="_blank">{% trans from "register" %}consent_security_privacy{% endtrans %}</a></p>
                <div class="align_center"><a href="{{ path('_consent', {'studyCode': studyCode, 'surveyId': surveyId}) }}" class="btn"><span>{% trans from "register" %}consent_accept_join{% endtrans %}</span></a></div>
                <p class="note">{% trans from "register" %}consent_close_window{% endtrans %}</p>
            </div>		
        </div>
    </div>
</div>      
