<div class="mobile_reg login_form">
    <div class="wrapper">
        <div class="popup_text join">
            <a href="#" class="close"></a>
                <h2>Here’s what you need to know to participate</h2>
                <div class="list_box">
                    {{ studycontent.studyConsent|raw }}
                </div>
                <h3>Good to go? Accept and Join the Study</h3>
                <p>Any information you share with us is completly confidental and secure. <a href="#">See our Security and Privacy policy</a></p>
                <div class="align_center"><a href="{{ path('_consent', {'studyCode': studyCode, 'surveyId': surveyId}) }}" class="btn"><span>I ACCEPT. Join the study</span></a></div>
                <p class="note">Close window to decline</p>
            </div>		
        </div>
    </div>
</div>      
