{% extends '::base.html.twig' %}

{% block content %}
    <div id="div_consent" class="signup_moblie_reg">
        {% include 'CyclogramFrontendBundle:Authentification:consent.html.twig' %}
    </div>
{% endblock content %}