<div class="mobile_reg login_form">
    <div class="wrapper">
        <div class="popup_text join">
            <a href="#" class="close"></a>
                <h2>{% trans from "register" %}consent_what_to_know{% endtrans %}</h2>
                {% if not is_enrolled_in_study(studyCode) and surveyId is not empty%}
                <div class="for_mobile_center">
                    <a href="{{ path('_consent', {'studyCode': studyCode, 'surveyId': surveyId}) }}" class="btn"><span>{% trans from "register" %}consent_accept_join{% endtrans %}</span></a>
                </div>
                {% endif %}
                <div class="list_box">
                    {{ studycontent.studyConsent|raw }}
                </div>
                {% if  not is_enrolled_in_study(studyCode)%}
                    <h3>{% trans from "register" %}consent_good_to_go{% endtrans %}</h3>
                {% endif %}
                <p>{% trans from "register" %}consent_any_information{% endtrans %} <a href="{{ path('_secure') }}" target="_blank">{% trans from "register" %}consent_security_privacy{% endtrans %}</a></p>
                {% if  not is_enrolled_in_study(studyCode) and surveyId is not empty%}
                <div class="align_center">
                    <a href="{{ path('_consent', {'studyCode': studyCode, 'surveyId': surveyId}) }}" class="btn"><span>{% trans from "register" %}consent_accept_join{% endtrans %}</span>
                    </a>
                    </div>
                    <p class="note">{% trans from "register" %}consent_close_window{% endtrans %}</p>
                    {% endif %}
                
            </div>		
        </div>
    </div>
</div>      
