<div class="mobile_reg align_center reset_link_msg">
    <h1 class="stronger"><span>{% trans from "login" %}email_sent_containing_password{% endtrans %}</span></h1>
    {% trans from "login" %}new_password_selection{% endtrans %}
</div>