{% extends '::base.html.twig' %}

{% block content %}
    <div id="div_register_step2" class="signup_moblie_reg">
        {% include 'CyclogramFrontendBundle:Authentification:signup_about_form.html.twig' %}
    </div>
{% endblock content %}