{%  extends '::dashboard.html.twig' %}

{% block content %}
    <div class="site_container">
        {% include '::header.html.twig' %}
        <div class="panel">
            <div class="panel_left">
                <div class="menu_cont">
                    {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createSideSettingsMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_side_menu.html.twig','currentClass': 'active'}) }}
                </div>
            </div>
            <div class="panel_right">
                {% include 'CyclogramFrontendBundle:GeneralSettings:about_me_new_form.html.twig' %}
            </div>
        </div>
    </div>
    </div>
    {% include '::footer.html.twig' %}
{% endblock content %}