{%  extends '::dashboard.html.twig' %}

{% from '::macro.html.twig' import showonerror,hideonerror %}
{% block stylesheets %}
  <style type="text/css">
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
  </style>
{%  endblock stylesheets %}
{% block javascripts %}
  <script src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
{% endblock javascripts %}

  {% block content %}
  <div class="site_container">

  {% include '::header.html.twig' %}

    <div class="panel">
      <div class="panel_left">
        {% include '::profile_info.html.twig' %}
        <div class="menu_cont">
          {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createSideSettingsMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_side_menu.html.twig','currentClass': 'active'}) }}
        </div>
      </div>
          {% include 'CyclogramFrontendBundle:GeneralSettings:shipping_information_form.html.twig' %}
    </div>
  </div>
{% include '::footer.html.twig' %}
{% endblock content %}
