{%  extends '::dashboard.html.twig' %}

{% from '::macro.html.twig' import showonerror,hideonerror %}

{% block javascripts %}
  <script src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
{% endblock javascripts %}

  {% block content %}
  <div class="site_container">

  {% include '::header.html.twig' %}

    <div class="panel">
      <div class="panel_left">
        {% include '::profile_info.html.twig' %}
        <div class="menu_cont">
          {{ knp_menu_render('CyclogramFrontendBundle:MenuBuilder:createSideSettingsMenu',{'template': 'CyclogramFrontendBundle:Knp:knp_side_menu.html.twig','currentClass': 'active'}) }}
        </div>
      </div>
          {% include 'CyclogramFrontendBundle:GeneralSettings:shipping_information_form.html.twig' %}
    </div>
  </div>
{% include '::footer.html.twig' %}
{% endblock content %}
