{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
<div class="site_container">
<div class="dashboard_panel">
    <div class="choices_box">
        {% for intervention in interventions %}
            <div class="featured_box">
                <div class="banner_box"><span class="icon_1"><span></span></span><img src="{{ intervention.logo }}"  title="" alt="" height="126"  width="126"></div>
                <div class="text_box"> 
                        <h4>{{ intervention.title }}</h4>
                        <p>{{ intervention.content }}</p>
                </div>
                <div class="mobile featured_box_s_desc">
{#                   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>#}
                </div>
                    <div class="button_box"> <a href="{{ siteurl }}"><span>Do it</span></a> </div>
            </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock email_content %}