{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
<td colspan="2" align="left" style="background-color:white; padding-left:30px; padding-right:30px">
    <table style="height: 136px;">
        <tbody>
            <tr>
                <td style="padding-right: 25px;" valign="top"> {% if study_logo is defined %} <img src="{{ study_logo }}" width="180"> {% else %}<img src="{{ images.tmp_logo }}" height="82" width="80">{% endif %}</td>
                <td>
                    <h2 style="color: #353535; font-size: 20px; font-weight: bold; margin: 0 0 20px; padding: 0;">
                    {{ "prelaunch_let_know"|trans({'%studyName%': studyName}, "email") }}</h2>
                    <p style="font-size: 13px; line-height: 18px; margin-bottom: 25px; color: #555555;">
                    {{ "prelaunch_body"|trans([],"email") }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    {% include 'CyclogramFrontendBundle:Email:email_studies_list.html.twig' %}
</td>
{% endblock %}