{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
{% if studyCode is defined %}
    {% set confirmurl = url('email_verify', {'email': email, 'code': code, 'studyCode' : studyCode})  %}
{% else %}
    {% set confirmurl = url('email_verify', {'email': email, 'code': code })  %}
{% endif %}
            <td width="643" style="background-color: white;">
                <p style="margin: 0px; padding: 0px; margin-bottom: 25px; color: #ae4840; font-family: Arial; font-weight: bold; font-size: 40px;">{{ 'confirm_verify_title' | trans({}, "email", locale) }}</p>
                <p style="margin: 0px; padding: 0px; margin-bottom: 35px; color: #8b8b8b; font-family: Arial; font-size: 13px; line-height: 20px;">{% trans from "email" %}confirm_verify_text{% endtrans %}</p>
                <p style="margin: 0px; padding: 0px; margin-bottom: 35px; color: #8b8b8b; font-family: Arial; font-size: 13px; line-height: 20px;"><a href="{{ confirmurl }}">{{ 'confirm_verify_link' | trans({}, "email", locale) }}</a></p>
            </td>
{% endblock %}