{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
			<td width="643" style="background-color: white;">
			
				<p style="margin: 0px; padding: 0px; margin-bottom: 25px; color: #ae4840; font-family: Arial; font-weight: bold; font-size: 40px;">Test email from crew@cyclogram.com</p>

			</td>
{% endblock %}