{%  extends '::base.html.twig' %}

{% block content %}
    <div class="mobile_reg">
    {% if error is defined %}
            <p class="error">{{ error }}</p>
    {% else %}
      <h1><span>{% trans from "register" %}txt_check_email{% endtrans %}</span></h1>
    {% endif %}
    </div>
{% endblock content %}
