{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
			<td width="643" style="background-color: white;">
			
				<p style="margin: 0px; padding: 0px; margin-bottom: 25px; color: #ae4840; font-family: Arial; font-weight: bold; font-size: 40px;">Reset Your Password</p>
			            
			     <p style="margin: 0px; padding: 0px; margin-bottom: 35px; color: #8b8b8b; font-family: Arial; font-size: 13px; line-height: 20px;"> Yes, it happens to all of us: you can't remember your password. That's OK. Click this link to reset your password:</p>
				        
				 <p style="margin: 0px; padding: 0px; margin-bottom: 35px; color: #8b8b8b; font-family: Arial; font-size: 13px; line-height: 20px;"><a href="{{ url('_create_new_pass', {'id': id, 'studyId':studyId}) }}">Click here to reset your password</a></p>
				
			</td>
{% endblock %}