{%  extends 'CyclogramFrontendBundle:Email:email.html.twig' %}
{% block email_content %}
    <td align="center" style="padding-left: 30px; padding-right: 30px;">
        <h1 style="color: #B9433A; font-size: 30px; font-weight: bold; margin: 0 0 25px; padding: 0;">Thanks for referring a friend to %%study name%%</h1>
        <p style="color: #555555; font-size: 15px; margin-bottom: 40px;">
            We just wanted to write a quick note to thank you.
            Someone just joined because you referred them (though for
            privacy reasons we can not tell you who). The success of
            this effort is because of you. We couldn't do it without
            you.
        </p>
        <p style="color: #555555; font-size: 15px; margin-bottom: 40px;">
            As a token of our appreciation, please watch your e-mail
            for a special incentive thank you. It will arrive soon if
            it hasn't already.
        </p>
        {% include 'CyclogramFrontendBundle:Email:email_studies_list.html.twig' %}
    </td>
{% endblock email_content %}