{%  extends '::base.html.twig' %}

{% block content %}
    <div class="mobile_reg">
    {% if error is defined %}
            <p class="error">{{ error }}</p></div>
    {% else %}
      <h1><span>{% trans from "register" %}txt_join{% endtrans %} 2/6:</span> {% trans from "register" %}txt_check_email{% endtrans %}</h1>
      <span>{% trans from "register" %}txt_subtitle_check_email{% endtrans %}</span>
    {% endif %}
    </div>
{% endblock content %}
