{%  extends '::base.html.twig' %}

{% block body %}
<body class="has_image">
  <div class="reg_header"> <a href="#" class="logo">ProofPilot</a> </div>
  <div class="mobile_reg login_form">
    <div class="wrapper">
      <h1><span>{% trans from "register" %}txt_join{% endtrans %} 6/6:</span> Mailing address</h1>
      <div>{% trans from "register" %}enter_address{% endtrans %}</div>
      <form>
        <div class="loginform_right">
          <label>{% trans from "register" %}fisrt_name{% endtrans %}</label>
          <span><input type="text" class="text"/></span>
          <label>{% trans from "register" %}last_name{% endtrans %}</label>
          <input type="text" class="text"/>
          <label>{% trans from "register" %}str_address{% endtrans %}</label>
          <input type="text" class="text"/>
          <label>{% trans from "register" %}str_address2{% endtrans %}</label>
          <input type="text" class="text"/>
          <label>{% trans from "register" %}zip_code{% endtrans %}</label>
          <input type="text" class="text"/>
          <label>{% trans from "register" %}city_state{% endtrans %}</label>
          <input type="text" class="text"/>
        </div>
        <div class="center_align">
          <a id="register_submit" class="submit" href="#">SAVE MAILING ADDRESS</a>
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock body %}
