{%  extends '::base.html.twig' %}

{% block body %}
  <body class="has_image">
    <div class="reg_header"> <a href="#" class="logo">ProofPilot</a> </div>
    <div class="mobile_reg">
    {% if error is defined %}
            <p class="error">{{ error }}</p></div>
    {% else %}
      <h1><span>{% trans from "register" %}txt_join{% endtrans %} 2/6:</span> {% trans from "register" %}txt_check_email{% endtrans %}</h1>
      <span>{% trans from "register" %}txt_subtitle_check_email{% endtrans %}</span>
    {% endif %}
    </div>
        <script>
        $(document).ready(function(){
            $('#register_submit').click(function()
                {
                         $('#submit_button').trigger('click');
                        return false;
                });
           });
        </script>
  </body>
{% endblock body %}
