{%  extends '::base.html.twig' %}

{% block body %}
  <body class="has_image">
    <div class="reg_header"> <a href="#" class="logo">ProofPilot</a> </div>
    <div class="mobile_reg">
      <h1><span>{% trans from "register" %}txt_join{% endtrans %} 2/6:</span> {% trans from "register" %}txt_check_email{% endtrans %}</h1>
    </div>
        <script>
        $(document).ready(function(){
            $('#register_submit').click(function()
                {
                         $('#submit_button').trigger('click');
                        return false;
                });
            $("#phone_phone_small").numeric();
            $('#phone_phone_wide').numeric();
            
           });
        </script>
  </body>
{% endblock body %}
