{%  extends '::base.html.twig' %}

{% block body %}
  <body class="has_image">
		
{% include '::header_reg.html.twig' %}
		
	<div class="mobile_reg align_center log_in_now">
			
		<h1 class="stronger"><span>Your username has been sent to the<br />mobile telephone number on record</span></h1>
			
		<div class="center_align"><a href="#" class="submit min_width">LOGIN</a></div>
			
	</div>

  </body>
{% endblock body %}
