{%  extends '::base.html.twig' %}

{% block body %}
    <body class="has_image">
		
{% include '::header_reg.html.twig' %}
		
		<div class="mobile_reg align_center log_in_now">
			
			<h1 class="stronger"><span>{% trans from "login" %}username_sent{% endtrans %}</span></h1>
			
			<div class="center_align">
			 <button onclick=location.href='{{ path('_login') }}' class="submit min_width">{% trans from "login" %}txt_login_button{% endtrans %}</button>
			</div>
			
		</div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src={{ asset('js/vendor/jquery-1.9.1.min.js') }}><\/script>')</script>
        <script src= {{ asset ('js/plugins.js') }}></script>
        <script src= {{ asset ('js/main.js') }}></script>
    </body>
{% endblock body %}
